<form (ngSubmit)="submit()" [formGroup]="myForm">
  <label for="name">name</label>
  <input type="text" name="firstName" formControlName="name">
  <br>
  <label for="name">age</label>
  <input type="number" name="age" formControlName="age">
  <br>
  <button type="submit" [disabled]="myForm.invalid" >{{editMode?'Edit':'Add'}}</button>

</form>
<br>
<br><br>
<div *ngFor="let i of data" class="data">
  <div>
    {{i.name}} - {{i.age}}
    <button (click)="edit(i.id)" *ngIf="!editMode">edit</button>
    <button (click)="deleteTask(i.id)" *ngIf="!editMode">Delete</button>

  </div>

</div>
